<div>
    <button type="button" class="btn" (click)="calculateResult('+')">+</button>
    <button type="button" class="btn" (click)="calculateResult('-')">-</button>
    <button type="button" class="btn" (click)="calculateResult('x')">x</button>

</div>
<div>
    <button type="button" class="btn" (click)="calculateResult('/')">/</button>
    <button type="button" class="btn" (click)="calculateResult('^')">^</button>
    <button type="button" class="btn" (click)="calculateResult('CE')">CE</button>
</div>